html, body {
	background-color: #002b36!important;
	color: #93a1a1!important;
}

a, span._xdb a.fl, div._tX {
	color: #268bd2!important;
}

._Rm {
	color: #859900!important;
}

.st, .kno-ecr-pt, ._kdf, ._gdf, ._xdb, ._pk, ._wD, ._Xbe {
	color: #839496!important;
}

.ab_dropdown, .hdtb-mn-o, .hdtb-mn-c, .kp-blk {
	background-color: #073642!important;
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2)!important;
	border: none!important;
}

#gb_70 {
	color: #ffffff!important;
}

.ad_button {
	background-color: transparent!important;
}

.ab_button {
	background-color: #002b36!important;
	background-image: none!important;
}

.ab_icon {
	-webkit-filter: invert(100%)!important;
}

._Fmb, ._Fmb:hover, ._Fmb.selected, ._Fmb.selected:hover {
	background-color: transparent!important;
}

.sdbb_b, .sbsb_a {
	background-color: #eee8d5!important;
	border: #fdf6e3!important;
	box-shadow: none!important;
}

.sbsb_d {
	background-color: #fdf6e3!important;
}

.gb_Xb {
	background-color: #002b36!important;
}

#hdtbSum, .appbar {
	background-color: #073642!important;
	border-bottom: solid 1px #002b36!important;
}

#fbar {
	background-color: #073642!important;
	border-top: solid 1px #002b36!important;
}

#gbqfqw {
	background-color: #eee8d5!important;
	border: solid 1px #073642!important;
}

.gstl_0.sbib_a {
	background-color: #eee8d5!important;
}

#gbqfq, .sbqs_c {
	color: #586e75!important;
}
